{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Script includes partial for individual sections
 * ==========
 */
--}}

<script type="text/javascript">
	
	$.fn.isOnScreen = function(){
	  
	  var win = $(window),
			  viewport = {
	      top : win.scrollTop(),
	      left : win.scrollLeft()
	  };
	  viewport.right = viewport.left + win.width();
	  viewport.bottom = viewport.top + win.height();
	  
	  var bounds = this.offset();
	  bounds.right = bounds.left + this.outerWidth();
	  bounds.bottom = bounds.top + this.outerHeight();
	  
	  return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
	  
	};

	$(document).ready(function() {
		
		// Image responsiveness
		var cl = cloudinary.Cloudinary.new({cloud_name: "engagement-lab-home"}); 
		cl.responsive({responsive_resize:true});

		/* Look for any temp img tag w/ cloud path and wait for it to load,
			 then replace background element with url from image and hide image.
		*/
		$(".cld-responsive.temp").load(function(){
			$(".cld-background:first").css('backgroundImage', 'url('+$(".cld-responsive.temp:first").attr('src')+')');
			$(".cld-responsive.temp:first").hide();
    });

		/*
		 Analytics start
		 ==============
		*/
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-64617433-3', 'auto');
		ga('send', 'pageview');

		/*
		 =============
		 Analytics end
		*/
		$('.markdown-span p').contents().unwrap().html("");

		$('#toggle-nav').on('click', function() {
			$('.navbar.navbar-default, body, .navbar.navbar-default container-fluid, .navbar.navbar-default .row, #navbar-collapse, .logo-container, #logo-col, #toggle-nav').toggleClass('expand');

		});

		{{!-- ABOUT Template Script --}}
		{{#ifeq section 'about'}}
	
			var container = $('#affiliate-content');

			lastImageLoaded (container, function () {
				var container = $('#affiliate-content');
					container.isotope({
				    itemSelector: '.affiliate-item', 
				    layoutMode: 'fitRows'
				  });

			});

			$('.filters-button-group').on( 'click', 'button', function() {
				  var filterValue = $( this ).attr('data-filter');
				  container.isotope({ filter: filterValue });
			});
			// change is-checked class on buttons
			$('.button-group').each( function( i, buttonGroup ) {
			  var $buttonGroup = $( buttonGroup );
			  $buttonGroup.on( 'click', 'button', function() {
			    $buttonGroup.find('.is-checked').removeClass('is-checked');
			    $( this ).addClass('is-checked');
			  });
			});

			var gliderDom = $("#partners_glider");
			var gliderApi;

			imageLoaded(gliderDom, function() {
			
				// Initialize partners carousel
				var gliderObj = gliderDom.glide({

		        type: "carousel",
		        autoplay: false,
		        autoheight: true,
		        afterTransition: function(evt) {
		        	// Select corresponding partner
							selectPartner($('.client-image').eq(evt.index-1));
						}
		    
		    });
		    gliderApi = gliderObj.data('glide_api');

				$('.client-image').click(function() {
					// go to slide for index
					var ind = $(this).index()+1;
					gliderApi.go('=' + ind);
					selectPartner($(this));
				});

			});

			function selectPartner(selector) {
				$('.clients>.client-image.selected').removeClass('selected');
				selector.addClass('selected');
			}

		{{/ifeq}}

		{{!-- BIO Template Script --}}
		{{#ifeq section 'person'}}

			var gliderDom = $("#people_glider");
	    var gliderApi;

			imageLoaded(gliderDom, function() {

				// Initialize people carousel
				var gliderObj = gliderDom.glide({
		        type: "carousel",
		        autoplay: false,
		        autoheight: false,
		        startAt: $(gliderDom).data('starting-index')+1,
		        afterInit: function(evt) {
		        	// The people list is invisible by default, show it, but only after a delay to allow page to load
		        	setTimeout(function() {
			        	$(evt.current[0]).fadeTo(500, 1);
		        	} , 500);
		        },
		        beforeTransition: function(evt) {
		        	$(evt.current[0]).fadeTo(100, 0);
		        },
		        afterTransition: function(evt) {
		         	// Show corresponding category
		        	updateCategory();

		        	// Update URL with the person's key
							var personKey = $(".glide__slide.active .person-bio-left").data('key');
							window.history.pushState(null, null, personKey);

		        	$(evt.current[0]).fadeTo(100, 1);
						}
		    });
		    gliderApi = gliderObj.data('glide_api');

		    // Updated people category header
		    function updateCategory() {
		    	
		    	var person = $(".glide__slide.active .person-bio-left");
					var cat = person.data('category');
					
					$('#person_category').text(cat);

		    }

		    updateCategory();

			});


		{{/ifeq}}

		{{!-- SYLLABI Template Script --}}
		{{#ifeq section 'syllabi'}}

			var institutions = $('.dropdown-menu li .option-institution').size();
			var faculty = $('.dropdown-menu li .option-faculty-member').size();
			var partnerOrgs = $('.dropdown-menu li .option-partnership-organization').size();
			var keywords = $('.dropdown-menu li .option-keyword').size();
			var disciplines = $('.dropdown-menu li .option-discipline').size();

			$('span.institution-number').html("(" + institutions + ")");
			$('span.faculty-member-number').text("(" + faculty + ")");
			$('span.partnership-organization-number').text("(" + partnerOrgs + ")");
			$('span.keyword-number').text("(" + keywords + ")");
			$('span.discipline-number').text("(" + disciplines + ")");

			var filters = {};
			$('.dropdown-menu li').delegate('a','click', function() {
				
				$('.is-checked').removeClass('is-checked');
				$(this).addClass('is-checked');

				applyFilter(this);
				displayChecked(this);
				checkFiltered ();
			});

			var syllabiContainer = $('#syllabi-content');
			syllabiContainer.isotope({
			    itemSelector: '.syllabi-item',
			    isFitHeight: true,
			    layoutMode: 'masonry'
			});
			$('.isotopeContent').isotope('reloadItems').isotope();

		function displayChecked (elem) {

			var selector = $(elem);
			var label = selector.attr('id');
			var id = '#syllabi' + label;
			var option = selector.html();
			$(id).html (option + '<span class="bigCaret"></span>');

		}

		function checkFiltered () {
			
			var syllabiContainer = $('#syllabi-content');
			if ( syllabiContainer.data('isotope').filteredItems.length === 0 )
			  $('.no-syllabi-visible').show();
			else
				$('.no-syllabi-visible').hide();

		}
	    
    function applyFilter(elem) {
			
	    var selector = $(elem);
	    
	    // store filter value in object
	    var group = selector.attr('data-filter-group');
	    filters[group] = selector.attr('data-filter-value');
	    
	    // convert object into array
	    var isoFilters = [];
	    for ( var prop in filters ) {
	      isoFilters.push( filters[ prop ] )
	    }
	    			    
	    var filterStr = isoFilters.join('');
	    syllabiContainer.isotope({ filter: filterStr });
	  }

		$(".clear-all").on('click', function(){
			filters = {};
	    syllabiContainer.isotope({
	        filter: '*'
	    });
				
			$('.is-checked').removeClass('is-checked');
			$('.all-options').addClass('is-checked');
			$('.all-options').each(function(i, obj){
				applyFilter(this);
				displayChecked(this);
			});
		});

		{{/ifeq}}

		{{!-- LIGHTNING TALK Template Script --}}
		{{#ifeq section 'lightning_talk'}}
			
			var videos = $('iframe.embedly-embed'),
			container = $('#talks-content'),
			count;

			function loadVidThumbs() {

      	$.each($('.video-embed-thumb'), function(i, thumb) {
      		var url = $(thumb).data('url');
      		var replaceStart = url.indexOf('_640.jpg&src1');
      		url = url.substr(0, replaceStart) + '_' + $(thumb).parent().width() + '.jpg&src1' + url.substr(replaceStart, url.length);

        	$(thumb).attr('src', url);
        	$(thumb).click(function(el) {
        		$('#modal-video .embed-responsive').html($(el.currentTarget).data('embed'));
        		$('#modal-video').modal();

		      	$('#modal-video .embed-responsive iframe').on('load', function(evt) {
		      		$(evt.currentTarget).fadeIn(200);
		      	});
        	});

      	});

      	$('#modal-video').click(function(el) {
      		$('#modal-video .embed-responsive').empty();
      		$('#modal-video').hide();
      	});

      }

			// find all the embedly iframes on the page.
			videos.each(function(){
			  // initialize the player.
			  var player = new playerjs.Player(this);
			    
		    // Listen to the play event.
		    player.on('play', function(){
		      // Tell Google analytics that a video was played.
		      window.ga('send', 'event', 'Video', 'Play');
		    });
			  
			  // Wait for the player to be ready.
			  /*player.on('ready', function(){
					    
			    count++;

			    if (count === videos.length) {
			        container.isotope({
			            itemSelector: '.talks-item',
			            isFitHeight: true,
			            layoutMode: 'fitRows'
			        });
			    };
			  
			  });*/
			});

			function checkFiltered() {

			    var talks = $('#talks-content');
			    if (talks.data('isotope').filteredItems.length === 0)
			        $('.no-talks-visible').show();
			    else
			        $('.no-talks-visible').hide();

			}

			$('.filters-button-group').on('click', 'button', function() {

			    var filterValue = $(this).attr('data-filter');
			    container.isotope({
			        filter: filterValue
			    });

			});
			// change is-checked class on buttons
			$('.button-group').each(function(i, buttonGroup) {
			    var $buttonGroup = $(buttonGroup);

			    $buttonGroup.on('click', 'button', function() {
			        $buttonGroup.find('.is-checked').removeClass('is-checked');
			        $(this).addClass('is-checked');

			        checkFiltered();
			    });

			});

			loadVidThumbs();

		{{/ifeq}}

		{{!-- EVENTS Template Script --}}
		{{#ifeq section 'events'}}

			$('.ellipsis p').text(function(index, currentText) {
				if (currentText)
				    return currentText.substr(0, 120) + "...";
			});
		{{/ifeq}}

		{{!-- COURSE CATALOG Template Script --}}
		{{#ifeq section 'courses'}}

			function courseChange(el) {
			
				var courseKey = el.data('key');
		  	$('#course-menu a').removeClass('active');
		  	$('#course-menu a[data-key="' + courseKey + '"]').addClass('active');

		  	$('#course-contents .content').hide()
		  	$('#course-contents .content[data-key="' + courseKey + '"]').show();

		  }

			$('#course-menu a').hover(
			  function() {
			  	courseChange($(this));
			  }
			);

			$('#course-menu #courses-mobile').change(
			  function() {
			  	courseChange($(this).find(':selected'));
			  }
			);
		{{/ifeq}}

	})
</script>