{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Events Directory Page Template 
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- DIRECTORY START -->
<!-- ================ -->
<section class="">
	{{!-- <div class="container" style="width:100%; overflow:hidden;">
		<div class="main">
			<h1 class="page-title"><strong>Events</strong></h1>
		</div>
	</div> --}} 

	{{!-- We'll need some filtering dropdowns here --}}

	{{!-- Show all syllabi below by default --}}
	<div class="container-fluid" style="padding: 0px">
		<div class="row events-feature">
			<div class="col-md-12">
				<h1 class="page-title text-center">Collaborations:</h1>
				<ul>
					{{#each collaborations}}
					<li>{{theText}}</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</section>
