{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Events Directory Page Template 
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<section id="events">

{{!-- 	{{#if featured}}
	<div class="featured-event-wrap">
		{{#each featured}}
		{{>events/featured event=this}}
		{{/each}}
	</div>
	{{/if}} --}}

	{{#if upcoming}}
	<div class="upcoming-events">
		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-centered">
			<h1 class="page-title text-center" style="padding-bottom:3%;">Upcoming Events</h1>
			{{#each upcoming}}
				{{#if enabled}}
					{{>index/recent_event event=this}}
				{{/if}}
			{{/each}}			
		</div>
	</div>
	{{/if}}

	{{#if past}}
	<div class="past-events">
		<div class="col-xs-12 col-sm-10 col-md-10 col-lg-8 col-centered">
			<h1 class="page-title text-center" style="padding-bottom:3%;">Past Events</h1>
			{{#each past}}
				{{#if enabled}}
					{{>index/recent_event event=this}}
				{{/if}}
			{{/each}}			
		</div>
	</div>
	{{/if}}

</section>
