{{!< default}}
{{{jsonPrint features}}}
<div{{!--  class="container-fluid" --}}>
	<div class="row">

		<div class="main">
			<div class="col-md-12 main-blurb">
	        <img 
				    data-src="https://res.cloudinary.com/engagement-lab-home/image/upload/w_auto,c_scale/v1494440105/boston-civic-media/layout/background-home.jpg" 
				    class="cld-responsive">
				<div class="main-text pv-20">
					<span class="main-mission-statement">{{missionStatements.[0]}}</span>
					<span class="main-description">{{missionStatements.[1]}}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row main-featured">
		{{#if featured_syllabi}}
			<section class="col-md-6 featured-syllabi">
				<h1>Featured Syllabi:</h1>
				<div>
				    <div>
				        <ul class="featured-list">
				        	{{!-- {{jsonPrint this}} --}}
							{{#each featured_syllabi}}
								<li>{{> index/featured_syllabi featured_syllabi=this}}</li>
							{{/each}}
				        </ul>
				    </div>
					<div class="more-button"><a href="/syllabi">See All Syllabi</a></div>

				</div>
				

			</section>
		{{/if}}	

		{{#if featured_lightning_talks}}
			<section class="col-md-6 featured-lightning-talks">
					<div class="slider-header">
						
						<div class="slider-text">
							<h1>Featured Lightning Talks:</h1>
							<h3>Listen to local civic media leaders share lessons and provocations from the field</h3>
						</div>
						
						<div class="row slider-buttons">
				        	<div class="col-md-6" id="slider-prev"></div>
				        	 <div class="col-md-6" id="slider-next"></div>
			        	</div>
			        </div>
		        
				<ul class="bxslider">
					{{#each featured_lightning_talks}}
						<li>{{> index/featured_lightning_talk featured_lightning_talk=this}}</li>
					{{/each}}
					
		        </ul>
		       
		        
		        
	        	<div class="more-button">
		        	<a href="/lightning_talk">Watch All Lightning Talks</a>
	        	</div>					
			</section>
		{{/if}}
	</div>

</div>