{{!< default}}
<div>
	<div class="row top-content">
		
		<section class="col-md-12 main-blurb">
			<div class="header">
				<h1>Boston Civic Media</h1>
				<h2>a network for solving problems at the scale of the city</h2>
			</div>
			<div class="features desktop">
				{{#each features}}
				{{> index/feature}}
				{{/each}}
			</div>
		</section>
		
		<div class="features mobile">
			{{#each features}}
			{{> index/feature}}
			{{/each}}
		</div>
	</div>
</div>
<div class="row main-featured">
	
	{{#if featured_syllabi}}
	<section class="col-md-5 featured-syllabi">
		<h1>Featured Syllabi</h1>
		
		<div>
			<div>
				<ul class="featured-list">
					{{#each featured_syllabi}}
					<li>{{> index/featured_syllabi featured_syllabi=this}}</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</section>
	{{/if}}

	<section class="col-md-5 upcoming-events">
		<h1>Featured Event</h1>
		<ul>
			<li>{{> index/event event=recentEvent}}</li>
			
		</ul>
		
		{{!-- <div class="more-button">
			<a href="/lightning_talk">Watch All Lightning Talks</a>
		</div> --}}
	</section>

	<div class="divider desktop-only"></div>
</div>
</div>