{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Events Directory Page Template 
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- DIRECTORY START -->
<!-- ================ -->
<section class="main-container">

	<div class="container">
		<div class="main">
		<h2 class="page-title">{{this_talk.title}}</h2>
		</div>
	</div>
	<div class="container pv-20 this-talk">
		<div class="row">
			<div class="col-md-6">
				<div class="embed-responsive embed-responsive-16by9">
				  {{{this_talk.data.html}}}
				</div>

					
			</div>
			<div class="col-md-6 ph-40 talk-description">
				
				<p>{{{this_talk.longDescription.html}}}</p>
				
			</div>
		</div>
		<div class="row">
			
		</div>
			
		
		</div>
		
</section>