{{!< default}}
{{!--
/**
* Boston Civic Media Website
* Developed by Engagement Lab, 2016
* ==============
*
* Syllabi Directory Page Template
* - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
* ==========
*/
--}}
<section id="event-talks" class="main-container padding-bottom-clear">
	<div class="row talks-feature">
		<div class="talks-header main">
			<h1 class="page-title"><strong>Lightning Talk Archive</strong></h1>
			<p class="sub-header">Browse the talks below to learn more about Boston Civic Media, local case studies, and lessons on topics ranging from impact assessment to engagement approaches.</p>
		</div>
		
		<div class="col-md-8 col-sm-12 col-centered feature">
			<h2 style="text-align:center;">Featured Lightning Talk</h2>
			
			{{#if featured_lightning_talks}}
			{{#each featured_lightning_talks}}
				{{>talks/featured featured_lightning_talk=this}}
			{{/each}}
			{{/if}}

		</div>
		
	</div>
	<div class="no-talks-visible">
		<h2>No lightning talks match that category!</h2>
	</div>
	<div class="col-md-8 col-sm-12 col-centered buttons filters-button-group" data-filter-group="">
		<h2>Talk Categories</h2>
		<p class="sub-header">Use the filter buttons below to sort talks by category or event.</p>

		<button value="*" data-filter="" class="btn">All</button>
		<button class="btn" value="#" data-filter=".Welcome">Welcome</button>
		<button class="btn" value="#" data-filter=".Art">Art</button>
		<button class="btn" value="#" data-filter=".Research">Research</button>
		<button class="btn" value="#" data-filter=".Technology">Technology</button>
		<button class="btn" value="#" data-filter=".Media">Media</button>
		<button class="btn" value="#" data-filter=".Data">Data</button>
		<button class="btn" value="#" data-filter=".Co-Design">Co-Design</button>
	</div>

	<div id="talks-content" class="col-md-10 col-sm-12 col-centered isotopeContent row">
		{{#if lightning_talk}}
		{{#each lightning_talk}}
		{{#if enabled}}
		{{!-- <div class="{{#odd @index}}row{{/odd}}"> --}}
			{{>index/lightning_talk lightning_talk=this}}
		{{!-- </div> --}}
		{{/if}}
		{{/each}}
		{{else}}
		<strong>No lightning talks!! Fiddlesticks!</strong>
		{{/if}}
	</div>
</div>
</section>