{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Syllabi Directory Page Template 
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- DIRECTORY START -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">
	<div class="container">
		<div class="main">
			<h1 class="page-title"><strong>Lightning Talks</strong></h1>
			{{!-- {{> page/lead}} --}}
		</div>
	</div>

	{{!-- We'll need some filtering dropdowns here --}}

	{{!-- Show all syllabi below by default --}}
	<div class="container pv-20">
		<div class="row talks-feature">
		{{!-- {{jsonPrint lightning_talk}} --}}
		{{#if lightning_talk}}
			{{#each lightning_talk}}

				{{>index/lightning_talk lightning_talk=this}}
			{{/each}}
			{{!-- {{else}} --}}
				
			{{!-- <strong>Nothing Featured Here bruh</strong> --}}
		{{/if}}
		</div>
		<div class="talks-grid">
			{{#if lightning_talk}}
			<div class="row grid-space-10 team-row3">

					{{#each lightning_talk}}

						{{>index/lightning_talk lightning_talk=this}}
					{{/each}}

				</div>
				{{!-- Show projects --}}
				{{!-- {{#each lightning_talk}}

					

				{{/each}} --}}

				{{else}}
				
				<strong>No lightning talks!! Fiddlesticks!</strong>
			
			{{/if}}
		</div>
	</div>
</section>
