{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Syllabi Directory Page Template 
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}

<!-- DIRECTORY START -->
<!-- ================ -->
<section class="main-container padding-bottom-clear">
	<div class="container">
		<div class="main">
			<h1 class="page-title"><strong>Syllabi</strong></h1>
			{{!-- {{> page/lead}} --}}
		</div>
	</div>

	{{!-- We'll need some filtering dropdowns here --}}

	{{!-- Show all syllabi below by default --}}
	<div class="container pv-20">
		<div class="row">
			{{#if syllabi}}
				<p>All Syllabi</p>
				{{!-- Show projects --}}
				{{#each syllabi}}
					<p>descriptives</p>
					{{>syllabi}}

				{{/each}}

				{{else}}
				
				<strong>No syllabi! Fiddlesticks!</strong>
			
			{{/if}}
		</div>
	</div>
</section>
