{{!< default}}
{{!-- 
/**
 * Boston Civic Media Website
 * Developed by Engagement Lab, 2016
 * ==============
 * 
 * Partner info partial 
 * - Use {{jsonPrint project}} to print entire json...DEBUG ONLY
 * ==========
 */
--}}
<div class="image-box style-3-b">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-md-4">
			<div class="overlay-container">
				<img src="{{{cloudinaryUrl affiliate.logo width=200 height=200 crop='scale' quality=100}}}">
			</div>
		</div>
		<div class="col-xs-12 col-sm-8 col-md-8">
			<div class="body text-center">
				<h3 class="title">{{affiliate.name}}</h3>
				<p>{{affiliate.description}}</p>
			</div>
		</div>
	</div>
</div>