<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Boston Civic Media</title>
		<meta name="description" content="Boston Civic Media is a faculty-led network that aims to advance the transdisciplinary domain of civic media research and pedagogy in the Greater Boston Area.">
		<meta name="author" content="Engagement Lab">
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#215C56">

    {{!-- Load web SDK's core script/docs --}}
    {{> core environment=env}}

		{{!-- Load our CSS/docs --}}
		{{> css environment=env}} 

	</head>
	
	<body class="page-loader-3">

		{{> nav}}

		<div class="page-wrapper">

      <section id="overlay" class="modal col-sm-12 col-md-6{{!--  embed-responsive embed-responsive-16by9 --}}">
	      <div id="video-border">
	      </div>
      </section>
			
			{{{body}}}
						
			{{> footer}}
			
			<div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="modal-video-label">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <div class="modal-header">
			                <button type="button" class="close" data-dismiss="modal" data-target="#modal-video" aria-label="Close">
			                    <span aria-hidden="true">&times;</span>
			                </button>
			            </div>
			            <div class="modal-body">
			                <div class="modal-video">
			                    <div class="embed-responsive embed-responsive-16by9">
			                    </div>
			                </div>
			            </div>
			        </div>
			    </div>
			</div>

			<!-- page-wrapper end -->
			{{#ifeq env "development"}}
				{{> script/development section=section subSection=sub_section environment=env}}
			{{else}}
				{{> script/production section=section environment=env}}
			{{/ifeq}}

			{{{isAdminEditorJS user}}}
		</div>
	</body>
</html>