.logos-footer {
	color: #85ddd2;
	#logo {
		width: 96px;
	}
	#logo-emerson {
		max-width: 400px;
		img { margin-right: 2em; }
	}
	img {
		display: initial;
		opacity: 1;
		margin: 0px 16px 8px;
		margin-bottom: 1em;
		max-height: 75px;
		max-width: 100px;
		fill: currentColor;

		&#logo-teagle {
			margin: 0px 16px 8px;
		}
	}
}

@media (max-width: 768px) {
	.logos-footer {
		#logo-emerson { max-width: 240px; }
		img { margin-left: 0; }
	}
}