
.navbar {
	border: none;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.08);
	margin-bottom: 0;
	z-index: 100;

	&.expand {
    position: fixed;
    right: 0;
    left: 0;
	}

}

.navbar-nav {
	float: right;
}

.navbar.navbar-default {
	@include transition(all 0.2s ease);
	@include gradient-horizontal-three-colors($color-theme, $color-theme-dark, 46%, $color-dark-grey-blue);
		// (linear-gradient(to right, , #26625c 46%, #306d67);

	border-radius: 0;
	li > a { 
		font-size: $font-size-base; 
		color: $gray-dark;
	}
	ul {
		padding: 0px;
		margin: 0px;
	}
	&.expand {
		float: none;
		max-height: 100%;
	}

  .container-fluid, #navbar-collapse {
  	@include transition(all 0.2s ease);
		height: 0px;
		&.expand {
			height:100%;
			width: 100%;
			visibility: visible;
		}
	}
	
}

#navbar-collapse {
	@include gradient-horizontal-three-colors($color-theme, $color-theme-dark, 46%, $color-dark-grey-blue);
	@include tablet-landscape-and-below {
		overflow: hidden;
		position: fixed;
		visibility: hidden;
		top: 60px;

		li { 
			text-align: center;
			margin: 12px auto;
			a {
				font-size: 24px;
			}
		}
		&.expand {
			top: 160px;
		}
	}
	@include transition(all 0.2s ease);
}

.navbar-fixed-top {
	margin-top: 0 !important;
	background-color: #fff !important;
}

.logo-container {

	margin: 16px 0;
	display: inline-block;
	font-family: $light-type-super;
	
	img {
		@include transition(all 0.2s ease-in-out);
		height: 45px;
		display: inline;
	}
	p {
		@include transition(all 0.2s ease-in-out);
		display: inline;
		font-size: 1.5em;
		vertical-align: middle;
		padding-left: 10px;
		color: $color-grey;
	}

	&:hover {
		img { @include opacity(0.6); }
		p { 
			padding-left: 14px; 
			color: white;
		}
	}

	&.expand {
		text-align: center;
		img {
			height: 112px;
		}
		p {
			display: block;
		}
	}
}

.main-navigation .dropdown-menu {
	top: 100%;
}

.dropdown-menu > li > a {
	background-color: $white;
	border: none;
}

.emerson-logo {
	a { 
		padding: 16px !important; 
		img { 
			height: 42px; 
			@include transition(all 0.2s ease);
			@include opacity(0.6);
			-webkit-filter: grayscale(1);
			filter: grayscale(1);
		}
		&:hover {
			img {
				@include opacity(1);
				-webkit-filter: grayscale(0);
				filter: grayscale(0);
			}
		}
	}
}

#at-emerson-sm {
	position: absolute;
	font-size: 12px;
	top: 50px;
	left: 80px;
}

@include tablet-landscape-and-below {
	.logo-container {
		margin-bottom: 0;
	} 
	.navbar-nav {
		width: 100%;
		float: none;

		li {
			text-align: left;
		}
		> li {
			float: none;
		}		
	}
	.dropdown-menu {
		display: none;
	}
	.dropdown > a:before {
		display: none;
	}
	.navbar-default .navbar-nav > li > a {
		border-bottom: none;
	}
	.emerson-logo {
		display: none !important;
	}
	.logo-container > p {
		font-size: 16px;
	}
	#at-emerson-lg { display: none; }
}

@media (max-width: 991px) { 
	.main-navigation > .navbar-collapse > ul {
		text-align: center;
	}
	.emerson-logo {
		margin-bottom: -35px;
	}
}

@media (min-width: 768px) {
	#at-emerson-sm { display: none; }
}

#navbutton-container {
	position: absolute;
	z-index: 100;
	right: 0;
}

#logo-col.expand {
	width: 100%;
  text-align: center;
}

// Bootstrap override
.navbar-toggle {
	margin-top: 22px;
	@include tablet-landscape-and-below {
		display: block;
	}
	@include tablet-landscape-and-up {
		float: none !important;
		display: block;
	}
	@include desktop-and-up {
		display: none;
	}
}