// COLORS
$color-white: #EBEBEB;
$color-theme: #215C56;
$color-theme-dark: #26625C;
$color-theme-light: #58A49F;
$color-theme-text: #1A534E;
$color-grey: #D8D8D8;

$color-feature-bg: rgba(255, 255, 255, .8);

// take your pick from our assortment of greeny blue colors 
$color-greeny-blue: #39aea9;
$color-pale-grey: #f1f9f8;
$color-sea: #2f8985;
$color-sea-two: #3f9893;
$color-light-grey-blue: #98ccc9;
$color-dull-teal: #58a49f;
$color-seafoam-blue: #6bc8bc;
$color-dark-green-blue: #1a534e;
$color-light-grey-blue: #98ccc9;
$color-dark-grey-blue: #306d67;
$color-dark-blue-green: #003732;
$color-pale-teal: #a2d5ab;
$color-dark-green-blue-two: #1f635d;
$color-warm-grey: #7d7d7d;
$color-warm-grey-two: #7e7e7e;
$color-light-blue-grey: #b2e2dc;
$color-greyish-brown: #4b4b4b;
$color-light-teal: #85ddd2;