{{!-- 
/**
	* Boston Civic Media
	* Developed by Engagement Lab, 2016
	* ==============
*/
--}}
<div class="container">

	<h1>{{{event.theTitle.html}}}</h1>
	{{!-- img here? --}}
	<h2>{{{event.theDescription.html}}}</h2>

</div>