{{!-- 
/**
	* Boston Civic Media
	* Developed by Engagement Lab, 2016
	* ==============
*/
--}}
<div class="title">{{{event.theTitle.html}}}</div>
<img src="{{{cloudinaryUrl event.image height=128 effect='grayscale'}}}" alt="{{event.name}}">
<p>{{{event.theFooter.html}}}</p>