{{!-- 
/**
	* Boston Civic Media
	* Developed by Engagement Lab, 2016
	* ==============
	* 
	* Featured project partial 
	* ==========
	*/
--}}
<div class="banner border-clear">
	<div class="va-container">
		<div class="va-align">
			<a href="/syllabi/{{featured_syllabi.syllabus_key}}"><h3>{{featured_syllabi.title}}</h3></a>
			<p>{{featured_syllabi.blurb}}</p>
		</div> <!-- .va-align -->
	</div> <!-- .va-container -->
</div> <!-- .banner -->
