{{!-- 
/**
	* Engagement Lab Website
	* Developed by Engagement Lab, 2016
	* ==============
	* 
	* Featured project partial 
	* ==========
	*/
--}}
<div class="banner border-clear" style="background-color: #FFCF18;">
	<div class="container featured-project">
		<div class="row">
			<div class="col-sm-6 col-md-6 col-md-offset-1">
				<div class="va-container">
					<div class="va-align">
						<h1><strong>Featured:</strong></h1>
						<h1>{{lightning_talk.name}}</h1>
						<p>{{lightning_talk.description}}</p>
						{{!-- <p><a href="/projects/{{syllabi.subdirectory.key}}/{{project.key}}">Read more</a> --}}
					</div> <!-- .va-align -->
				</div> <!-- .va-container -->
			</div> <!-- .col-sm-6 -->
		</div> <!-- .row -->
	</div> <!-- .container -->
</div> <!-- .banner -->
