@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

@include font-face(HalisGR-SBook, 'https://res.cloudinary.com/engagement-lab-home/raw/upload/v1494878248/boston-civic-media/fonts/HalisGR-SBook', null, null, otf);
@include font-face(HalisGR-Book, 'https://res.cloudinary.com/engagement-lab-home/raw/upload/v1494878248/boston-civic-media/fonts/HalisGR-Book', null, null, otf);
@include font-face(HalisGR-Bold, 'https://res.cloudinary.com/engagement-lab-home/raw/upload/v1494878248/boston-civic-media/fonts/HalisGR-Bold', null, null, otf);
@include font-face(HalisGR-Black, 'https://res.cloudinary.com/engagement-lab-home/raw/upload/v1494878248/boston-civic-media/fonts/HalisGR-Black', null, null, otf);
@include font-face(HalisGR-Medium, 'https://res.cloudinary.com/engagement-lab-home/raw/upload/v1494878248/boston-civic-media/fonts/HalisGR-Medium', null, null, otf);
@include font-face(HalisGR-Thin, 'https://res.cloudinary.com/engagement-lab-home/raw/upload/v1494878248/boston-civic-media/fonts/HalisGR-Thin', null, null, otf);
@include font-face(HalisGR-SLight, 'https://res.cloudinary.com/engagement-lab-home/raw/upload/v1494878248/boston-civic-media/fonts/HalisGR-SLight', null, null, otf);
@include font-face(HalisGR-Light, 'https://res.cloudinary.com/engagement-lab-home/raw/upload/v1494878248/boston-civic-media/fonts/HalisGR-Light', null, null, otf);

$body-type-super: "HalisGR-SBook", sans-serif;
$body-type: "HalisGR-Book", sans-serif;
$light-type-super: "HalisGR-SLight", sans-serif;
$light-type: "HalisGR-Light", sans-serif;
$med-type: "HalisGR-Medium", sans-serif;
$bold-type: "HalisGR-Bold", sans-serif;