// Mixins
// --------------------------------------------------
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// TRANSFORMS
// generic transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

// Generates an arrow image
@mixin arrow($size, $left, $right: auto, $bottom: 4px) {
  &:before {
    content: "";
    position: absolute;
    z-index: 10;
    bottom: $bottom;
    left: $left;
    right: $right;
    width: 0;
    height: 0;
    border-left: $size solid $color-light-grey-blue;
    border-top: $size / 2 solid transparent;
    border-bottom: $size / 2 solid transparent;
    @include tablet-portrait-and-below {
      border-left: 12px solid $color-light-grey-blue;
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      bottom: 4%;
    }
  }
}

// Utilities
@import "mixins/hide-text";
@import "mixins/opacity";
@import "mixins/functions";

@import "mixins/size";
@import "mixins/vendor-prefixes";

// Components
@import "mixins/buttons";

// Skins
@import "mixins/gradients";

// Layout
@import "mixins/clearfix";
@import "mixins/center-block";
@import "mixins/responsive";