/* 4 Pages
----------------------------------------------------------------------------- */
/* Partials
---------------------------------- */
body .bx-wrapper {
	box-shadow: none;
	border: 0px none;
	margin: 0;
	max-width: 70%;
}

.isotopeContent .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }

p:empty {
	display:none;
}

.bcm-timeline {
	margin: 0px;

	@media (max-width: 767px) {
		display: none;
	}

}

body .dropdown-backdrop {
	z-index: 0;
}
#slider-next {
	position:relative;

	a.bx-next {
		float: right;
		@media(max-width: 767px){
			margin-right: -40px;
		}
	// padding-right: 10%;
	}
}
#slider-prev {
	position:relative;

	a.bx-prev {
		float:left;
		@media(max-width: 767px){
			margin-left: -40px;
		}
	// padding-left: 10%;
	}

}




.slider-buttons  {
	position: relative;
	z-index: 1000;
	// height: 0px;
	margin-top: -100px;
	margin-bottom:10%;

	#slider-next {
		// position: absolute;
		// top: 50%; 
		// right: 5%;
		// transform: translate(-50%,-50%);
		// width: 100px;
		// height: 60px;
  		
		// background-color: $gray-lighter;
		// border-radius: 0px 20px 20px 0px;
		// float: right;
	}
	#slider-prev {
		// position: absolute;
		// top: 50%; 
		// left: 5%;
		// transform: translate(-50%,-50%);
		// width: 100px;
		// height: 60px;
	    
		// background-color: $gray-lighter;
		// border-radius: 20px 0px 0px 20px;
	}
}

.main-featured {
	max-width: 944px;
	margin: 5% auto;
	padding: 0px 40px;
	position: relative;

	section {
		margin: 24px;

		@media(max-width:426px) {
			margin: 12px 0px;
		}

		h1 {
			margin-bottom: 24px;
		}
	}

	.divider {
		margin-top: 48px;
		left: 50%;
		position: absolute;
		height: 85%;
		background: #26625c;
		width: 8px;
		display: inline-block;
	}
}

.featured-syllabi {
	color: #7e7e7e;
	text-align: left;
	font-family: HalisGR-Book;

	h1 {
		color: #003732;
		text-align: center;
		font-family: HalisGR-Black;
	}
	
	h3 {
		color: $color-sea-two;
		margin:0px;
		font-family: HalisGR-Book;
	  font-size: 22px;
	  line-height: 1.18;
	  letter-spacing: -0.1px;
	  text-align: left;
	}	

	p {
		padding-bottom: 24px;
		font-family: HalisGR-Book;
	  font-size: 18px;
	  line-height: 1.22;
	  letter-spacing: -0.1px;
	  text-align: left;
	}

	@media (max-width: 991px) {
		border: 0px solid;
	}
	// width: 100%;

}

.syllabi  {
	min-height: 100%;
}

body .beckyBanner {
	margin: 3% 0px;	
}

.main-syllabi {
	@include cdn-background('/v1464274547/boston-civic-media/infographic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 200px;
	min-width: 100%;

}

.syllabi-title {
	color: white;
	text-align: center;
}

.syllabus {
	list-style-type:none;
	padding: 0px;

	@media (max-width: 767px) {
		padding: 2% 2%;
	}
}

.this-syllabus-description {
	font-size: 1.5em;
}

.syllabus-button {
	font-size: 2em;
	float: right;

}

.event-button {
	font-size: 2em;
	float: right;

	@media (max-width: 767px) {
		float: left;
		padding: 5%;

	}
}

.syllabi-item {
	padding: 20px;
}


.tags {
	text-align: left;
	color: $gray-light;
	min-height: 40px;
}

.no-talks-visible {
	display: none;
	margin-left: 5%;
	min-height: 500px;
}

.no-syllabi-visible {
	display: none;
	min-height: 500px;
}

body .filters {
	.btn-group {
		margin-right: .5%;
	}
	.btn-group.open > btn.syllabi-options:active,
	.btn-group.open > btn.syllabi-options:visited{
		background-color: white;
		border: 3px solid $green;
		color: $gray-light;
		box-shadow:none;
	}

	.syllabi-options{
		background-color: white;
		color: $gray-dark;
		font-weight: bold;
		border: 3px solid $green;
	}

	.btn.syllabi-options:hover,
	.btn.syllabi-options:active,
	.btn.syllabi-options:focus {
		background-color: white;
		border: 3px solid $green;
		color: $gray-light;
		box-shadow:none;
	}

	.btn.syllabi-options:selected {
		color: $gray-dark;
		background-color: white;
		border: 3px solid $green;

	}
	.btn.syllabi-options:focus {
		background-color: white;
		border: 3px solid $green;
		color: $gray-light;
	}

}

body .dropdown-menu {
	width:150px;

	li a {
		color: $gray-dark;
		background-color: $green-light;
	}
	li a:hover {
		color: $gray-dark;
		background-color: white;
	}
}

.featured-list {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;

	@media (max-width: 767px) {
		width: 100%;
	}

	h3 {
		@media (max-width: 767px) {
			font-size: 1em;
		}
	}
}

.upcoming-events {

	margin: 0 auto;
	position: relative;
	text-align: center;
	float: right;

	ul {
		padding: 0;
		list-style-type: none;
		list-style-image: none;
		color: white;
	}


	h1 {
		font-family: HalisGR-Black;
		color: #003732;
	}

	.title {
		h2 {
		  font-family: HalisGR-Book;
		  font-size: em(22);
		  line-height: 1.18;
		  letter-spacing: -0.1px;
		  text-align: center;
		  color: $color-sea-two;
		  margin: 0px;
		}

	  p {
	  	color: $color-dull-teal;
	  	font-family: HalisGR-Light;
	  	font-size: em(20);
	  letter-spacing: -0.1px;
	  text-align: center;
	  margin-bottom: 8px;
	  }
	}

	p {
	  font-family: HalisGR-Book;
	  font-size: 18px;
	  line-height: 1.22;
	  letter-spacing: -0.1px;
	  text-align: center;
	  color: #7e7e7e;
	}

	img {
		height: 200px;
		float: none;
    	margin: 8px auto;
	}

}

.lightning-talk {
	margin-bottom:1%;
	margin-top:1%;
	min-height: 350px;


	@media (max-width: 767px){
		min-width: 100%;
	}
}

body .lightning-talk-title {
	display: relative;
	color: $gray-dark;
	font-weight: 700;
	// min-height: 80px;

	h4 {
		position: relative;
		vertical-align: center;
	}
	// padding-top: 20%;

}
.slider-header {
	width: 100%;
	// display: table-cell;
	position: relative;

	
	.slider-text {
		width: 70%;
		margin: 0 auto;
		vertical-align: center;
		position: relative;
	}

}
@media (max-width: 991px){
	.slider-text h3 {
		font-size: large;
	}
}


.talks-header {
	text-align: center;
	width: 50%;
	margin: 0 auto;

	@media (max-width: 767px){
		width: 80%;
	}
}
.talks-feature {
	padding: 2% 5%;
	margin: 0 5%;
	margin-bottom: 5%;
	border-bottom: 1px $gray-dark solid;
	.feature {
		float: right;

		@media (max-width: 767px) {
			display: none;
		}
	}
}
.feat-talk-description {
	padding: 4% 2%;
	@media (max-width: 767px) {
		text-align: center;
	}
}
.feat-talk-title {
	color: $gray-dark;

	h2 {
		font-size: 1.5em;
		@media (max-width: 767px) {
			text-align: center;
			font-size: 1em;
		}
	}
}

.talks-buttons {
	padding-bottom: 5%;
	text-align: center;
	// margin-top: 5%;
	.button {
		display: inline-block;
		width: auto;
		padding: 8px;
		background: white;
		border: 2px solid $color-light-blue-grey;
		color: $color-light-blue-grey;
		height: 60px;
		margin: 10px 0;
	}
	.button:active,
	.button:focus,
	.button.active {
		background-image: none;

		outline: 0;
		-webkit-box-shadow: none;
        box-shadow: none;
	}
	.button:hover {
		color: $gray-light;
		background: $green-blue;
	}
	.is-checked {
		color: $gray-light;
		background: $green-blue-dark;
		// background: transparent;
	}
	@media (max-width: 767px) {
		min-width: 100%;
		padding-bottom: 5%;
	}
}


.affiliate-content {
	margin: 0 auto;
	min-height: 100%;

	@media(max-width: 767px) {
		// margin-left: 20%;
	}
}

.affiliate-buttons {
	text-align: center;
	margin-bottom: 3%;
	.button {
		margin: 1%;
		background: transparent;
		color: $gray-dark;
		border: none;
	}
	.button:active,
	.button:focus,
	.button.active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: none;
        box-shadow: none;
	}
	.button:hover {
		color: $base-color;
	}
	.is-checked {
		color: $base-color;
		background: transparent;
	}

	@media (max-width: 767px) {
		margin-bottom: 15%;
	}
}

.affiliate-item {
	text-align: center;
	margin-bottom: 1%;

	@media (max-width: 767px) {
		margin-bottom: 15%;
		min-width: 100%;
	}
}

.funder {
	padding-bottom:5%;
}


.talk-description {
	min-height: 100%;
	padding: 1%;

}
#talks-content {
	padding: 0px 2%;
	min-height: 100%;
}
body .talks-item {
	text-align: center;	
	min-height: 500px;
	p {
		margin: 0 auto;
		// width: 90%;
		padding: 2% 0px;
	}

	@media (max-width: 767px){ 
		width: 100%;
	}
}

.talks-grid {

	padding:0 10%;

	.event-item {
		min-height: 450px;
		max-height: 450px;
	}
}
.irb-proj {
	padding: 50px 40px;
	color:black;
	font-size: em(18);
	line-height: 1.22;
  letter-spacing: -0.1px;

	.irb-proj-title {
		font-family: HalisGR-Book;
		font-size: em(22);
		font-weight: bold;
		color: $color-sea-two;
		padding-top: em(16);
		padding-bottom: em(8);
	}
	.description {
		padding-bottom: 16px;
	}

	.did, .found {
		background-color: rgba(207, 235, 234, 0.3);
    margin-right: -54px;
    margin-left: -54px;
    display: inline-block;
    padding: 0px 54px;

	}

}
.contact-email {
	h4{
		color: white;
		font-weight: bold;
		
	}
}

.affiliates {
	min-height: 100%;
	overflow-y: visible !important;

}

.clients {
	position: relative;
	padding-top:5%;
}

.funder {
	display: inline-block;
	margin: 10px 1%;

	@media (min-width: 1023px) {
		width: 22%;
	}

	@media (min-width: 767px ) and (max-width: 1023px) {
		width: 40%;
	}

	@media (max-width: 426px) {
		width: 50%;
	}

}

.about-title {
	margin: 0px;
}

#get-involved {
	background-color: #f1f9f8;
	
	.subscribe-button {

		width: 420px;

		@include mobile-landscape-and-below { 
			width: 270px;
			font-size: em(18);
		}

	}
}
.involved-wrapper {

	// TOP BORDER
	div {
		background-color: white;
		margin: 0px 4%;
		height: 400px;
		margin-bottom: 60px;
		&:nth-child(1) {
			border-top-color: $color-seafoam-blue;
		}
		&:nth-child(2) {
			border-top-color: $color-pale-teal;
		}
		&:nth-child(4) {
			border-top-color: $color-sea;
		}
		&:nth-child(5) {
			border-top-color: $color-seafoam-blue;
		}

		@include tablet-portrait-and-below {
			height: auto;
			padding-bottom: 44px;
		}
	}

	.involved {
	  border-top: solid 40px;
	  
		ul {
			list-style-type: none;
			@media (max-width: 1024px) {
				padding: 0px;
			}
		}
		li {
			background-repeat:no-repeat;
			background-position: 0px center;
			background-image: url('https://res.cloudinary.com/engagement-lab-home/image/upload/v1495473210/boston-civic-media/layout/bullet.svg');
		  margin: 12px;
		  color: $gray-dark;
		  font-family: $body-type;
		  font-size: em(18);
		  letter-spacing: -0.1px;
		  padding-left: 40px;
		  line-height: 1.2;

		  @media (max-width: 426px) {
		  	font-size: em(16);
		  }
		}

		h1 {
			font-family: $body-type;
			font-size: em(34);
			line-height: 0.76;
			letter-spacing: -0.2px;
			padding-top: 34px;
		}
		h4 {
			font-family: $light-type;
			font-size: em(20);
			letter-spacing: -0.1px;
			color: $color-dull-teal;
		}

	}
}

.listserv {
	background-color: white;

	.guidelines {
		margin: 40px;
		width: 100%;
	}
}

.page-header {
	min-height: 200px;
	width: 100%;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
}

.sub-header {
	font-family: $body-type;
	font-size: em(22);
	color: $color-sea-two;
	line-height: 1.17;
	letter-spacing: -0.4px;
	text-align: center;
	padding: 2%;
	@include mobile-landscape-and-below {
		padding-left: 10%;
		padding-right: 10%;
	}
	padding-top: 0;

  &.dark {
		color: $color-dark-blue-green;
  }
}

.newsletters {
	background-color: $gray-lighter;
}

.guideline {
	color: $color-dark-green-blue-two;
	h4 {
		font-size: em(22);
		color: $color-seafoam-blue;
	}
}

.cirb {
	background-color: white;
}

.this-event{
	margin: 0 auto;
	text-align: left;
	ul {
		margin: 0 auto;
		padding: 0px;
		padding-bottom: 5%;
		list-style-type:none;
	}
	li {
		font-size: large;
		margin: 0 auto;
		padding: 5px 0px;
		line-height: 25px;
	}
}
.event-description {
	
	h1 {
		font-family: $body-type;
		font-size: em(48);
		color: $color-dark-green-blue;
		margin-bottom: 0;
	}
	h2 {
		margin: 0;
		font-family: $body-type;
		font-size: em(36);
		color: $color-seafoam-blue;

	}
	img {
		// display: inline;
		margin: 0 auto;
	}

	.short {
		color: $color-light-blue-grey;
		font-size: em(22);
		line-height: 1.18;
		letter-spacing: -0.1px;
	}
}

.featured-event {
	text-align: center;
	padding-top: 84px;

	.summary {
		font-size: 2em;
		font-style: bold;
		width: 60%;
		margin: 0 auto;
	}
	a {
  	font-family: $light-type;
  	font-size: em(16);
		span {
			@include arrow(12px, 102px, auto, 5px);
		}
	}

	img {
		display: inline;
	}
	h1 {
		font-family: $body-type;
		font-size: em(40);
		color: $color-dull-teal;
		margin-bottom: 0;
	}
	h2 {
		margin: 0;
		font-family: $body-type;
		font-size: em(30);
		color: $color-warm-grey;

	}
	p {
		font-family: $extra-light-type;
		color: $gray-dark;
		font-size: large;
	}

}
.event-photo {
	@media(max-width: 767px) {
		height: 200px;
	}
}

.featured-event p {
	@media (max-width: 767px){
		margin: 0 auto;
	}
}

.events-feature {
	background-color: $gray-lighter;
}

.recent-event {
	padding-bottom: 64px;
	
	.content {
		border-bottom: 7px solid $color-seafoam-blue;
		padding: 0;

			span { 
				@include arrow(12px, 86px, auto, 5px);
			}
	}
	img {
    border-radius: 50%;
    margin: 0 auto;
	}
	h1 {
		color: $color-greeny-blue;
		font-size: em(24);
		margin: 0;
	}
	h2 {
		font-family: $bold-type;
		color: $color-warm-grey;
		font-size: em(19);
		margin: 0;
		margin-top: 1%;
	}
	p {
		font-family: $extra-light-type;
		color: $color-warm-grey;
		font-size: em(16);
		margin: 0;
		margin-top: 2%;
		margin-bottom: 1%;
	}

}

#event-talks {
	text-align: center;
	.event-talk {
		padding: 0;
	}

	h2 {
		font-size: em(32);
		color: $color-sea-two;
	}
}

/* Blog pages
---------------------------------- */
.blogpost {
	margin: 0 0 70px;
	header {
		padding: 20px 10px 20px;
		h2 {
			text-transform: none;
			margin-top: 0;
			margin-bottom: 10px;
		}
	}
	.post-info {
		font-size: em(12);
		color: #aaa;
		font-weight: 400;
		>span {
			margin-right: 5px;
			display: inline-block;
		}
		a {
			color: #aaa;
		}
	}
	.blogpost-content {
		padding: 0 10px 10px;
	}
	.row .blogpost-content {
		padding-bottom: 0;
	}
	footer {
		font-size: 12px;
		padding: 10px;
		color: #aaa;
		border-top: 1px solid #eaeaea;
	}
	.row + footer {
		padding: 10px 0;
	}
}
.blogpost.full {
	margin-bottom: 30px;
	header {
		padding: 0 0 15px 0;
	}
	.blogpost-content {
		padding:0 0 5px;
	}
	footer {
		padding: 10px 0;
	}
}
/* Medium devices (desktops, tablets, 992px and up) */
@media (min-width: 992px) { 
	.blogpost .row {
		header {
			padding-top: 0;
		}
	}
	.blogpost .row + footer {
		margin-top: 15px;
	}
}
/* Comments
---------------------------------- */
#comments {
	margin-top: 60px;
}
.comments h2.title {
	margin-bottom: 40px;
	padding-bottom: 10px;
	position: relative;
}
.comments h2.title:after {
	height: 1px;
	background: #d1d1d1;
	background: -moz-linear-gradient(left,  rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.12) 35%, rgba(0, 0, 0, 0.05) 70%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0, 0, 0, 0.18)), color-stop(35%,rgba(0, 0, 0, 0.12)), color-stop(70%,rgba(0, 0, 0, 0.05)), color-stop(100%,rgba(0, 0, 0, 0)));
	background: -webkit-linear-gradient(left,  rgba(0, 0, 0, 0.18) 0%,rgba(0, 0, 0, 0.12) 35%,rgba(0, 0, 0, 0.05) 70%,rgba(0, 0, 0, 0) 100%);
	background: -o-linear-gradient(left,  rgba(0, 0, 0, 0.18) 0%,rgba(0, 0, 0, 0.12) 35%,rgba(0, 0, 0, 0.05) 70%,rgba(0, 0, 0, 0) 100%);
	background: -ms-linear-gradient(left,  rgba(0, 0, 0, 0.18) 0%,rgba(0, 0, 0, 0.12) 35%,rgba(0, 0, 0, 0.05) 70%,rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to right,  rgba(0, 0, 0, 0.18) 0%,rgba(0, 0, 0, 0.12) 35%,rgba(0, 0, 0, 0.05) 70%,rgba(0, 0, 0, 0) 100%);
	position: absolute;
	bottom: -1px;
	left: 0px;
	content: "";
	width: 100%;
}
.comment {
	font-size: 14px;
	.comment {
		margin-left: 75px;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 10px;
	}
	.btn-sm-link {
		padding: 0;
	}
}
.comment-avatar {
	width: 50px;
	float: left;
	margin: 0 15px 0 0;
}
.comment-content {
	border-bottom: 1px solid #f1f1f1;
	margin-bottom: 40px;
	clear: both;
}
.comment-meta {
	margin-bottom: 15px;
	color: #aaa;
	font-size: 12px;
	a {
		color: #aaa;
	}
	a:hover {
		text-decoration: underline;
	}
}
/* Blog Masonry Grid
---------------------------------- */
.masonry-grid-item {
	.blogpost { 
		footer {
			padding-top: 0px;
			border-top: none;
		}
		header {
			h2 {
				font-size: 22px;
			}
		}
	}
}
/* Blog Timeline layout
---------------------------------- */
.timeline {
	position: relative;
	padding: 40px 0;
	margin-top: 40px;
	.blogpost { 
		footer {
			padding-top: 0px;
			border-top: none;
		}
		header {
			h2 {
				font-size: 22px;
			}
		}
	}	
}
.timeline .timeline-item {
	padding: 0 15px;
}
.timeline-date-label {
	float: none;
	clear: both;
	display: block;
	margin: 0px auto;
	text-align: center;
	margin-bottom: 80px;
	line-height: 1;
	width: 135px;
	position: relative;
	z-index: 2;
	color: #ffffff;
}
.timeline-date-label:after {
	background-color: $base-color;
	@include border-radius(4px);
	height: 30px;
	width: 100%;
	position: absolute;
	bottom: -8px;
	z-index: -1;
}

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {
	.timeline .blogpost {
		margin-bottom: 0;
	}
	.timeline:before {
		background-color: #e8e8e8;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.09) 10%, rgba(0, 0, 0, 0.09) 90%, rgba(0,0,0,0) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0, 0, 0, 0.09)), color-stop(90%,rgba(0, 0, 0, 0.09)), color-stop(100%,rgba(0,0,0,0)));
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.09) 10%,rgba(0, 0, 0, 0.09) 90%,rgba(0,0,0,0) 100%);
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.09) 10%,rgba(0, 0, 0, 0.09) 90%,rgba(0,0,0,0) 100%);
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.09) 10%,rgba(0, 0, 0, 0.09) 90%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.09) 10%,rgba(0, 0, 0, 0.09) 90%,rgba(0,0,0,0) 100%);
		width: 1px;
		height: 100%;
		content: "";
		position: absolute;
		left: 50%;
		display: block;
		top: 0;
	}
	.timeline .timeline-item {
		position: relative;
		width: 50%;
		padding-left: 0;
		padding-right: 40px;
		margin-bottom: 80px;
		float: left;
		clear: left;
		z-index: 1;
	}
	.timeline .timeline-item.pull-right {
		position: relative;
		width: 50%;
		padding-left: 40px;
		padding-right: 0;
		margin-top: 80px;
		margin-bottom: 0;
		float: right;
		clear: right;
	}
	.timeline .timeline-item.pull-right + .timeline-date-label {
		padding-top: 80px;
	}
	.timeline .timeline-item:after {
		content: "";
		font-family: "FontAwesome";
		right: 0px;
		background-color: #eaeaea;
		left: auto;
		position: absolute;
		top: 20px;
		z-index: -1;
		width: 35px;
		height: 1px;
	}
	.timeline .timeline-item:before {
		content: "";
		position: absolute;
		background-color: $gray-lighter;
		border: 1px solid $gray-lighter;
		height: 7px;
		width: 7px;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
		top: 17px;
		right: -4px;
	}
	.timeline .timeline-item.pull-right:after {
		right: auto;
		left: 0px;
	}
	.timeline .timeline-item.pull-right:before {
		left: -3px;
	}
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.timeline .timeline-item.pull-right {
		float: none !important;
	}
}

/* Shop Pages
---------------------------------- */
/*Product Page*/
.product {
	&.price {
		font-size: 24px;
		font-weight: 400;
		del {
			color: $gray-lighter;
			font-size: 14px;
		}
	}
	&.element-list {
		margin-top: 7px;
	}
}
/*Dropdown Cart*/
.header-dropdown-buttons { 
	.btn-group {
		.dropdown-menu.cart {
			padding: 0;
			min-width: 350px;
			font-size: 13px;
			
			table {
				margin-bottom: 0;
			}
			
			.panel-body {
				padding: 0px 10px 0px;
			}
		}
	}
}
.cart-count {
	position: absolute;
	top: -2px;
	right: -3px;
	line-height: 14px;
	width: 14px;
	height: 14px;
	border-radius: 30%;
	font-size: 10px;
	text-shadow: none;
	@include transition(all 0.2s ease-in-out);
}
.dark .header-dropdown-buttons .cart-count { 
	background-color: rgba(0, 0, 0, 0.5);
	color: #cdcdcd;
}
.dropdown.open .cart-count,
.dropdown:hover .cart-count {
	@include scale(0);
	@include opacity(0);
}
.total-amount,
.total-quantity {
	font-size: 13px;
}
.cart .table > tbody > tr > td,
.cart.table > tbody > tr > td {
	vertical-align: inherit;
}
.cart {
	.quantity {
		width: 50px;
		font-size: 11px;
	}
	.product {
		width: 220px;
		font-size: 13px;
		.small {
			display: block;
			color: $gray-light;
		}
	}
}

/* Cart and Checkout pages
---------------------------------- */
.cart.table {
	.price {
		width: 18%;
		font-size: 14px;
	}
	.amount,
	.remove,
	.quantity {
		width: 12%;
	}
	.quantity input {
		width: 60px;
		padding: 6px;
	}
	.product {
		font-size: 15px;
		small {
			font-size: 12px;
			display: block;
			color: $gray-light;
		}
	}
	.amount {
		text-align: right;
	}
	thead > tr > th {
		font-size: 16px;
	}
	.total-quantity,
	.total-amount {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 16px;
		font-weight: 700;
	}
	.total-amount {
		text-align: right;
	}
	.btn-remove {
		position: relative;
		top: -5px;
	}
	.form-group {
		margin: 7px 0;
	}
}
.table .information {
	width: 80%;
}
/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.cart.table {
		thead > tr > th {
			font-size: 14px;
		}
		.amount,
		.price {
			width: 12%;
		}
		.remove,
		.quantity {
			width: 8%;
		}
		> thead > tr > th,
		> tbody > tr > th,
		> tfoot > tr > th,
		> thead > tr > td,
		> tbody > tr > td,
		> tfoot > tr > td {
			padding: 8px 10px;
		}
	}
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
	.cart.table > thead > tr > th,
	.cart.table > tbody > tr > th,
	.cart.table > tfoot > tr > th,
	.cart.table > thead > tr > td,
	.cart.table > tbody > tr > td,
	.cart.table > tfoot > tr > td {
		padding: 8px 7px;
	}
}

/* About Us Pages
---------------------------------- */
/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.team-member {
		max-width: 480px;
		margin: 20px auto 20px !important;
	}
}

.about-vision {
	margin-bottom: 16px;
	color: #338b83;
	font-size: em(24);
	font-family: HalisGR-Bold;
	line-height: 1.08;
  letter-spacing: -0.1px;
  text-align: left;
}

.about-description {
	font-family: HalisGR-Book;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: -0.1px;
  text-align: left;
	color: $gray-dark;
	font-size: large;
	// font-weight: light;
}

.about-links {
	font-size: large;

	p {
		line-height: 1.2;
	}

}

.affiliate-image {
	display: inline-block;
	margin: 1%;

}
/* Coming Soon Page
---------------------------------- */
.is-countdown {
	border: 1px solid transparent;
	background-color: transparent;
}
.countdown-row {
	height: 0;
	padding: 0;
}
.countdown-section {
	text-align: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(0, 0, 0, 0.2);
	@include border-radius(5%);
}
.countdown-show4 .countdown-section {
	width: 24%;
	margin: 10px 0.5%;
}
.countdown-amount {
	font-size: 36px;
	font-weight: 700;
	display: block;
}
.countdown-period {
	display: block;
	font-size: 28px;
	line-height: 1.2;
	margin-top: 15px;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
	.countdown-amount {
		font-size: 24px;
	}
	.countdown-period {
		font-size: 18px;
	}
}

/* Extra small devices (phones, less than 480px) */
@media (max-width:480px) {
	.countdown-amount {
		font-size: 18px;
	}
	.countdown-period {
		font-size: 10px;
	}
}

/* Pages Misc
---------------------------------- */
.icons-page i {
	font-size: 20px;
	width: 35px;
	text-align: center;
}
.grid span {
	padding: 5px 5px;
	background-color: #666;
	border: 1px solid #444;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	color: #fff;
}

/* Course Catalog
---------------------------------- */

.course-catalog {
	display:inline-block;
	width: 100%;
	padding: 0px;
	padding-bottom:60px;
}

.courses-header {
	padding: 0px 8%;
	width:100%;
	background-color: white;
	h1 {
		font-size: em(34);
		text-align: center;
		line-height: 1.12;

		// BCM
		&:nth-child(1) {
		  font-weight: bold;
		  letter-spacing: 0.2px;
		  color: #338b83;
		  font-family: HalisGR-SBold;
		}
		// Courses
		&:nth-child(2) {
		  letter-spacing: -0.1px;
		  font-family: HalisGR-Black;
		  color: #003732;
		  margin-bottom: 16px;
		  padding: 0px;
		}
	}
	p {
		margin:0 auto;
		padding: 0px 40px;
		padding-bottom: 60px;
		text-align:justify;
	}

	@media(max-width: 426px) {
		p {
			padding:0px;
			padding-bottom: 60px;	
		}
	}
}
.courses {

	padding: 60px 40px;
	height: 100%;
    position: relative;

    @media (max-width: 426px) {
    	padding: 20px;
    }

	#course-menu {
		ul {
			list-style-type: none;
			list-style-image: none;
			padding:0px;
			li {
		    margin-top: 3%;

				a.active {
					color: #338b83;
					font-family: $bold-type;
					font-size: 1.5em;
				}
				a {
					font-family: HalisGR-Book;
					color: $color-sea-two;
					font-size: 1.25em;
				}
			}
		}
		select {
	    width: 100%;
	    cursor: pointer;
	    padding: 10px 15px;
      margin-bottom: 4%;
	    outline: 0;
	    border: 0;
	    border-radius: 0;
	    background: $color-seafoam-blue;
	    color: $color-white;
	    appearance: none;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	  }
	  .select-arrow {
		  position: absolute;
		  top: 16px;
		  right: 24px;
		  width: 0;
		  height: 0;
		  pointer-events: none;
		  border-style: solid;
		  border-width: 19px 16px 0 15px;
		  border-color: $color-theme-dark transparent transparent transparent;
		}
	}
	#course-contents {
		padding: 24px;
		background-color: $color-seafoam-blue;
		@include box-shadow(0 0 4px 1px rgba(0, 0, 0, 0.24));
		border: solid 4px #ffffff;
		color: $color-dark-green-blue;

		h1 {
			font-family: $med-type;
			font-size: 2em;
			color: white;
		}
		h2 {
			font-family: $med-type;
			font-size: 1.5em;
			color: $color-dark-green-blue;
		}

		.content {
			display: none;

			h1 {
				padding: 0px;
				margin: 0px;
				margin-bottom: 8px;
				font-family: HalisGR-Black;
			}
			&.active {
				display: block;
			}

			a {
				color: $color-dark-green-blue;

				&:hover, &:focus, &:active {
					color: lighten($color-dark-green-blue, 20%);
				}
			}

			strong {
				margin: 0px;
				padding:0px;
				font-size: 22px;
			  line-height: 1.18;
			  letter-spacing: -0.1px;
			  text-align: left;
			  color: #b2e2dc;
			  font-family: HalisGR-Book;
			}

			p {
				font-family: HalisGR-Book;
			  font-size: 18px;
			  line-height: 1.22;
			  letter-spacing: -0.1px;
			  text-align: left;
			  color: #1f635d;
			}

			h2 {
				margin: 0px;
				padding:0px;
				font-size: 22px;
			  line-height: 1.18;
			  letter-spacing: -0.1px;
			  text-align: left;
			  color: #b2e2dc;
			  font-family: HalisGR-Book;
			}

			button {
				width: 135px;
			  height: 42px;
			  border: solid 3px #b2e2dc;
			  font-family: HalisGR-Bold;
			  font-size: 26px;
			  line-height: 0.8;
			  letter-spacing: 0px;
			  text-align: center;
			  color: #b2e2dc;
			  background-color:transparent;
			}
		}
	}

}