{{!-- 
/**
	* Engagement Lab Website
	* Developed by Engagement Lab, 2016
	* ==============
	* 
	* Featured lightning talk partial 
	* ==========
	*/
--}}
<div class="container">
	<div class="embed-responsive embed-responsive-16by9">
	  {{{featured_lightning_talk.data.html}}}
	</div>

	<div class="feat-talk-description"><p>{{{featured_lightning_talk.talkDescription.html}}}</p>
</div>